/backup
.ipynb_checkpoints
/dataset
/cache
/experiments/
/prev_experiments/
/select-experiments/
*.pyc
**/pyc
*/.ipynb_checkpoints/*
__pycache__
exec_sparc_concat_output.txt
.vscode/launch.json
.vscode/settings.json
copy-output.txt
exec-output.txt
hist.png
smbop-treecopy.err
smbop-treecopy.out
smbop.slurm
cache-bad/exp200val/dataset_SLASH_sparc_SLASH_dev.json.lock
cache-bad/copy_cache/exp200train/dataset_SLASH_sparc_SLASH_train.json
cache-bad/copy_cache/exp200train/dataset_SLASH_sparc_SLASH_train.json.lock
cache-bad/copy_cache/exp200val/dataset_SLASH_sparc_SLASH_dev.json
cache-bad/copy_cache/exp200val/dataset_SLASH_sparc_SLASH_dev.json.lock
cache-bad/exp200train/dataset_SLASH_sparc_SLASH_train.json
cache-bad/exp200train/dataset_SLASH_sparc_SLASH_train.json.lock
cache-bad/exp200val/dataset_SLASH_sparc_SLASH_dev.json
cache-bad/exp200val/dataset_SLASH_sparc_SLASH_dev.json.lock
cache-bad/small/exp200train/dataset_SLASH_sparc_SLASH_train.json
cache-bad/small/exp200train/dataset_SLASH_sparc_SLASH_train.json.lock
cache-bad/small/exp200val/dataset_SLASH_sparc_SLASH_dev.json
cache-bad/small/exp200val/dataset_SLASH_sparc_SLASH_dev.json.lock
